body {
 color:0;
 background-image:url('logo.png');
 background-position:center;
 background-repeat:no-repeat;
 background-size:contain;
 height:100vh;
}
div {
 font-family:'Georgia',serif;
 font-size:200%;
 margin:0;
 padding:.5em;
 text-align:center;
 position:absolute;
 top:50%;
 left:50%;
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 width:fit-content;
 width:-moz-fit-content;
 background-color:rgba(255,255,255,.95);
 -webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 -moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 border-radius:25px;
}
h1 {
 font-weight:normal;
 text-decoration:underline;
 margin:.5em;
 width:auto;
}
h2 {
 font-size:150%;
 font-family:sans-serif;
 margin:.5em;
}
h3 {
 font-size:150%;
 margin:.5em;
}
h4 {
 font-weight:normal;
 margin:.5em;
}
h5 {
 font-weight:normal;
 font-size:100%;
 margin:.5em;
}
h6 {
 font-weight:normal;
 font-size:100%;
 margin:.5em;
}
