body {
 color:0;
 background-image:url('logo.png');
 background-position:center;
 background-repeat:no-repeat;
 background-size:contain;
 height:100vh;
}
div {
 font-family:sans-serif;
 font-size:300%;
 margin:0;
 padding:.5em 2em;
 text-align:center;
 position:absolute;
 top:50%;
 left:50%;
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 width:fit-content;
 width:-moz-fit-content;
 background-color:rgba(255,255,255,.95);
 -webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 -moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 border-radius:25px;
}
h2 {
 margin:0;
 font-family:'Georgia',serif;
}
input {
 background:transparent;
 border:0;
 width:4em;
 border-bottom:4px solid;
 padding:0;
 text-align:center;
 font-family:serif;
 font-size:100%;
 font-weight:600;
 line-height:1.5;
 color:0;
 outline:none;
}
input::-webkit-input-placeholder, input::-moz-placeholder,
input:-ms-input-placeholder, input::placeholder {
 color:rgba(50,50,50,.2);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance:none;
 margin:0;
}
input[type=number] {
 -moz-appearance:textfield;
 appearance:textfield;
 margin:0;
}
button {
 all:unset;
 margin-top:1em;
 opacity:.9;
 background:#ddd;
 border:solid 4px black;
 padding:.5em 2em;
 border-radius:50px;
 font-weight:600;
 font-size:28px;
}
button:hover {
 background:#bbb;
}
