body {
 color:0;
 background-image:url('logo.png');
 background-position:center;
 background-repeat:no-repeat;
 background-size:contain;
 height:100vh;
}
div {
 font-family:sans-serif;
 font-size:100%;
 margin:0;
 padding:.5em 2em;
 text-align:center;
 position:absolute;
 top:50%;
 left:50%;
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 width:fit-content;
 width:-moz-fit-content;
 background-color:rgba(255,255,255,.95);
 -webkit-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 -moz-box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 box-shadow:0px 0px 25px 0px rgba(0,0,0,.9);
 border-radius:25px;
}
h2 {
 margin:0;
 font-family:'Georgia',serif;
 font-size:180%;
}
textarea {
 background:transparent;
 border:solid 4px black;
 width:20em;
 height:30em;
 padding:.2em;
 font-family:mono;
 font-size:150%;
 font-weight:600;
 text-align:left;
 line-height:1.2;
 color:0;
}
button {
 all:unset;
 margin-top:1em;
 opacity:.9;
 background:#ddd;
 border:solid 4px black;
 padding:.5em 2em;
 border-radius:50px;
 font-weight:600;
 font-size:28px;
}
button:hover {
 background:#bbb;
}
